@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 10 25 47; /* The "Amr Khaled" Navy Blue */
  --foreground: 204 214 246; /* Off-white text */
}

body {
  color: rgb(var(--foreground));
  background: #0a192f;
  font-family: -apple-system, system-ui, sans-serif;
  overflow-x: hidden;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}